[submodule "benchmarks/ale_bench/ALE-Bench"]
	path = benchmarks/ale_bench/ALE-Bench
	url = https://github.com/SakanaAI/ALE-Bench.git
[submodule "benchmarks/blis_router/inference-sim"]
	path = benchmarks/blis_router/inference-sim
	url = https://github.com/inference-sim/inference-sim.git
[submodule "benchmarks/vidur_router/vidur"]
	path = benchmarks/vidur_router/vidur
	url = https://github.com/microsoft/vidur
